<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{BaseLayout :: headlayout}"></head>
<body class="main-body">
    <header th:replace="~{BaseLayout :: header}"></header>
    <nav th:replace="~{BaseLayout :: navlayout}"></nav>
    <div class="content home-view">
        <h1>Welcome to</h1>
        <h1>Black Doorz Hotel</h1>
        <h3>Let's take rest a moment before continued another plan.</h3>
        <h3>Enjoy our service.</h3>
        <h3>if you have some needed, contact number below.</h3>
        <h3>(Helpdesk : 021-222-122-323)</h3>
    </div>
</body>
</html>